<html>
<head>
    {% block head %}
    <meta charSet="UTF-8">
    <title>{% block title %}{% endblock %} {{ config.PROJECT_NAME|capitalize }}</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/header.css"/>
    <script src="static/js/chart.min.js"></script>
    {% endblock head %}
</head>
<body>
<div id="__next">
    <div class="css-v5vxs4">
        {% block body %}
        {% block header %}
        {% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% endblock body %}
    </div>
</div>
</body>
</html>
{% block javascript %}
{% endblock %}