{% extends "base.html" %}
{% block title %}Monitoring{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{% include "header.html" %}
<main class="layout-page-content css-zyg32b">
    <div class="css-19sj0n3">
        <div class="MuiGrid-container css-h2qpui">
            <div class="MuiGrid-item css-15j76c0">
                <h5 class="css-78ietm">
                    <a class="css-mk5kn8"
                       href="https://github.com/reactchartjs/react-chartjs-2"
                       target="_blank">React ChartJS 2
                    </a>
                </h5>
                <p class="css-19cqx3h">React wrapper for Chart.js</p>
            </div>
            <div class="MuiGrid-item css-15j76c0">
                <div class="MuiCard-root css-13nd69s">
                    <div class="css-1islzv">
                        <div class="css-11qjisw">
                            <span class="css-84wjl2">Среднечасовая температура</span>
                            <span class="css-lemk0a">Встроенный датчик температуры nrf52840</span>
                        </div>
                    </div>
                    <div class="css-12evlce">
                        <canvas id="myChart" role="img" height="800"
                                width="2704"
                                style="display: block; box-sizing: border-box; height: 800px; width: 1352px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
{% endblock %}

{% block javascript %}
<script>
    dashboard_url = 'http://api.sinbiot.ru/sensors/get_values?offset=0&limit=10';
    getData();

    async function getData() {
        const response = await fetch(dashboard_url);
        const data = await response.json();
        console.log(data);
        length = data.length;
        console.log(length);
        labels = [];
        values = [];
        for (i = 0; i < length; i++) {
            labels.push(data[i].date_measured);
            values.push(data[i].value);
        }
        new Chart(document.getElementById("myChart"), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Температура в градусах(Цельсия)",
                        backgroundColor: ["#3a90cd"],
                        data: values
                    }
                ]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: 'nrf52840'
                }
            }
        });
    }
</script>
{% endblock %}