{% extends "base.html" %}
{% block title %}Monitoring{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="static/css/table.css"/>
{% endblock %}
{% block body %}
{% include "header.html" %}
<div class="layout-wrapper css-uinsfl">
    <div class="PrivateSwipeArea-root css-n2n0ek" style="width: 20px;"></div>
    <div class="layout-content-wrapper MuiBox-root css-34b9xr">
        <main class="layout-page-content css-zyg32b">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-6 css-h2qpui">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-15j76c0">
                    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-13nd69s">
                        <div class="MuiCardHeader-root css-1islzvf">
                            <div class="MuiCardHeader-content css-11qjisw"><span
                                    class="MuiTypography-root MuiTypography-h6 MuiCardHeader-title css-84wjl2">Мои устройства</span>
                            </div>
                        </div>
                        <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 css-1c4frty">
                            <div class="MuiTableContainer-root css-1w3zluf">
                                <table class="MuiTable-root MuiTable-stickyHeader css-y7nd7b"
                                       id="DeviceTableBody"
                                       aria-label="sticky table">
                                    <thead class="MuiTableHead-root css-1y8o0b2">
                                    <tr class="MuiTableRow-root MuiTableRow-head css-1gorvkl">
                                        <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-stickyHeader MuiTableCell-sizeMedium css-be40bu"
                                            scope="col">id
                                        </th>
                                        <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-stickyHeader MuiTableCell-sizeMedium css-17bqav9"
                                            scope="col">Тип
                                        </th>
                                        <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-stickyHeader MuiTableCell-alignRight MuiTableCell-sizeMedium css-msmwzy"
                                            scope="col">Дата создания
                                        </th>
                                        <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-stickyHeader MuiTableCell-alignRight MuiTableCell-sizeMedium css-msmwzy"
                                            scope="col">EUI64
                                        </th>
                                        <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-stickyHeader MuiTableCell-alignRight MuiTableCell-sizeMedium css-msmwzy"
                                            scope="col">Владелец
                                        </th>
                                        <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-stickyHeader MuiTableCell-alignRight MuiTableCell-sizeMedium css-msmwzy"
                                            scope="col">Описание
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="MuiTableBody-root css-n2t27x"
                                           id="DeviceTable">
                                    </tbody>
                                    <script>
                                        const sensor_list_url = 'http://api.sinbiot.ru/sensors/';
                                        getData();

                                        async function getData() {
                                            const response = await fetch(sensor_list_url);
                                            const data = await response.json();
                                            const table = document.getElementById("DeviceTable");
                                            console.log(data);
                                            length = data.length;
                                            console.log(length);
                                            values = [];
                                            for (i = 0; i < length; i++) {
                                                values.push(data[i]);
                                            }
                                            values.forEach(value => {
                                                let row = table.insertRow();
                                                row.className = "css-1gorvkl";
                                                let id_type = row.insertCell(0);
                                                id_type.className = "css-1vhm4pm";
                                                id_type.innerHTML = value.id_type;
                                                let name = row.insertCell(1);
                                                name.className = "css-1vhm4pm";
                                                name.innerHTML = value.name;
                                                let date_created = row.insertCell(2);
                                                date_created.className = "css-9pg0vs";
                                                date_created.innerHTML = value.date_created;
                                                let code = row.insertCell(3);
                                                code.className = "css-9pg0vs";
                                                code.innerHTML = value.code;
                                                let id_owner = row.insertCell(4);
                                                id_owner.className = "css-9pg0vs";
                                                id_owner.innerHTML = value.id_owner;
                                                let description = row.insertCell(5);
                                                description.className = "css-9pg0vs";
                                                description.innerHTML = value.description;
                                            });
                                        }
                                    </script>
                                </table>
                            </div>
                            <div class="MuiTablePagination-root css-d01wgx">
                                <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular MuiTablePagination-toolbar css-tkgupb">
                                    <div class="MuiTablePagination-spacer css-1mrwq1p"></div>
                                    <p class="MuiTablePagination-selectLabel css-1rnchco"
                                       id=":r2s:">Rows per
                                        page:</p>
                                    <div variant="standard"
                                         class="MuiInputBase-root MuiInputBase-colorPrimary css-41e7tq">
                                        <div tabindex="0" role="button"
                                             aria-expanded="false"
                                             aria-haspopup="listbox"
                                             aria-labelledby=":r2s: :r2r:"
                                             id=":r2r:"
                                             class="MuiTablePagination-select MuiSelect-select MuiSelect-standard MuiInputBase-input css-a1m1w">
                                            10
                                        </div>
                                        <input aria-hidden="true" tabindex="-1"
                                               class="MuiSelect-nativeInput css-1k3x8v3"
                                               value="10">
                                        <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiTablePagination-selectIcon MuiSelect-icon MuiSelect-iconStandard css-tbgxpt"
                                             focusable="false"
                                             aria-hidden="true"
                                             viewBox="0 0 24 24"
                                             data-testid="ArrowDropDownIcon">
                                            <path d="M7 10l5 5 5-5z"></path>
                                        </svg>
                                    </div>
                                    <p class="MuiTablePagination-displayedRows css-196rrgv">
                                        1–10 of 15</p>
                                    <div class="MuiTablePagination-actions">
                                        <button class="MuiButtonBase-root Mui-disabled MuiIconButton-root Mui-disabled MuiIconButton-colorInherit MuiIconButton-sizeMedium css-bb1fx0"
                                                tabindex="-1" type="button"
                                                disabled=""
                                                aria-label="Go to previous page"
                                                title="Go to previous page">
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv"
                                                 focusable="false"
                                                 aria-hidden="true"
                                                 viewBox="0 0 24 24"
                                                 data-testid="KeyboardArrowLeftIcon">
                                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
                                            </svg>
                                        </button>
                                        <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeMedium css-bb1fx0"
                                                tabindex="0" type="button"
                                                aria-label="Go to next page"
                                                title="Go to next page">
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv"
                                                 focusable="false"
                                                 aria-hidden="true"
                                                 viewBox="0 0 24 24"
                                                 data-testid="KeyboardArrowRightIcon">
                                                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                                            </svg>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}