<html lang="en" dir="ltr" data-lt-installed="true">
<head>
    {% block head %}
    <meta charSet="UTF-8">
    <title>{% block title %}{% endblock %} {{ config.PROJECT_NAME|capitalize }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}"/>
    {% endblock head %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>
<body>
<div id="__next">
    <div class="layout-wrapper MuiBox-root css-33gw4">
        {% block body %}
        {% block header %}
        {% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% endblock body %}
    </div>
</div>
</body>
</html>
{% block javascript %}
{% endblock %}