<html>
<head>
    <meta charSet="UTF-8">
    <title>Sinbiot Monitor</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <script src="static/chart.min.js"></script>
</head>
<body>
<div id="__next">
    <div className="css-v5vxs4">
        <header className="css-13inqg5">
            <div className="css-1wwhayh">
                <div className="css-148r81p">
                    <div className="css-12d2mry">
                        <a href="google.com" className="css-17bnumt">
                            <svg width="40" fill="none" height="22" viewBox="0 0 268 150"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect rx="25.1443" width="50.2886" height="143.953" fill="#666CFF"
                                      transform="matrix(-0.865206 0.501417 0.498585 0.866841 195.571 0)"></rect>
                                <rect rx="25.1443" width="50.2886" height="143.953" fill-opacity="0.4"
                                      fill="url(#paint0_linear_7821_79167)"
                                      transform="matrix(-0.865206 0.501417 0.498585 0.866841 196.084 0)"></rect>
                                <rect rx="25.1443" width="50.2886" height="143.953" fill="#666CFF"
                                      transform="matrix(0.865206 0.501417 -0.498585 0.866841 173.147 0)"></rect>
                                <rect rx="25.1443" width="50.2886" height="143.953" fill="#666CFF"
                                      transform="matrix(-0.865206 0.501417 0.498585 0.866841 94.1973 0)"></rect>
                                <rect rx="25.1443" width="50.2886" height="143.953" fill-opacity="0.4"
                                      fill="url(#paint1_linear_7821_79167)"
                                      transform="matrix(-0.865206 0.501417 0.498585 0.866841 94.1973 0)"></rect>
                                <rect rx="25.1443" width="50.2886" height="143.953" fill="#666CFF"
                                      transform="matrix(0.865206 0.501417 -0.498585 0.866841 71.7728 0)"></rect>
                                <defs>
                                    <linearGradient y1="0" x1="25.1443" x2="25.1443" y2="143.953"
                                                    id="paint0_linear_7821_79167"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop></stop>
                                        <stop offset="1" stop-opacity="0"></stop>
                                    </linearGradient>
                                    <linearGradient y1="0" x1="25.1443" x2="25.1443" y2="143.953"
                                                    id="paint1_linear_7821_79167"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop></stop>
                                        <stop offset="1" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <h6 className="css-14j0qmd">Sinbiot</h6>
                        </a>
                        <div className="css-70qvj9">
                            <div className="css-t5z4a2">
                                <button className="css-bb1fx0" type="button">
                                    <svg className="css-vubbuv" focusable="false"
                                         aria-hidden="true" viewBox="0 0 24 24" data-testid="MagnifyIcon">
                                        <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                                    </svg>
                                    <span className="css-w0pj6f"></span>
                                </button>
                                <span className="css-1w651zy">
                                    <div className="css-11rb4o0">
                                         <img alt="John Doe" src="../static/img/1.png" className="css-1hy9t21">
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div className="css-8atqhb">
                <div className="css-nr7phf">
                    <div className="css-1f8uh8r">
                        <div>
                            <div className="css-3cvfig">
                                <li className="css-1039ghg">
                                    Dashboards
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main className="layout-page-content css-zyg32b">
            <div className="css-19sj0n3">
                <div className="MuiGrid-container css-h2qpui">
                    <div className="MuiGrid-item css-15j76c0">
                        <h5 className="css-78ietm">
                            <a className="css-mk5kn8" href="https://github.com/reactchartjs/react-chartjs-2"
                               target="_blank">React ChartJS 2
                            </a>
                        </h5>
                        <p className="css-19cqx3h">React wrapper for Chart.js</p>
                    </div>
                    <div className="MuiGrid-item css-15j76c0">
                        <div className="MuiCard-root css-13nd69s">
                            <div className="css-1islzv">
                                <div className="css-11qjisw">
                                    <span className="css-84wjl2">New Technologies Data</span>
                                    <span className="css-lemk0a">Commercial networks & enterprises</span>
                                </div>
                            </div>
                            <div className="css-12evlce">
                                <canvas id="myChart" role="img" height="800" width="2704"
                                        style="display: block; box-sizing: border-box; height: 800px; width: 1352px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer className="css-1s71n78">
            <div className="css-1qwoqtx">
                <div className="css-1c8ux76">
                    <p className="css-jdwlvk">Privacy Policy. <span>&copy; 2022 Copyright</span></p>
                    <div className="css-pcgvof">
                        <a className="css-mk5kn8">Licences</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>

<script>
  const labels = [{% for item in labels %}
                  "{{item}}",
                  {% endfor %}];

  const data = {
    labels: labels,
    datasets: [{
      label: 'nrf52840 temperature',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data : [{% for item in values %}
                      {{item}},
                    {% endfor %}],
    }]
  };

    const config = {
    type: 'line',
    data: data,
    options: {}
    };
    const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>