body, html {
    min-height: 100%;
}

body {
    margin: 0;
    color: rgba(76, 78, 100, 0.87);
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    background-color: #F7F7F9;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#__next {
    height: 100%;
}

.css-v5vxs4 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: clip;
}

.css-zyg32b {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    padding: 1.5rem;
    transition: padding 0.25s ease-in-out 0s;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 1200px) {
    .css-zyg32b {
        max-width: 100%;
    }
}

@media (min-width: 1440px) {
    .css-zyg32b {
        max-width: 1440px;
    }
}


.css-h2qpui {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-top: -1.5rem;
    width: calc(100% + 1.5rem);
    margin-left: -1.5rem;
}

.css-h2qpui > .MuiGrid-item {
    padding-left: 1.5rem;
}

.css-h2qpui > .MuiGrid-item {
    padding-top: 1.5rem;
}

.css-1lbhvlm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.25rem 1.25rem 1rem;
}

.css-11qjisw {
    flex: 1 1 auto;
}


.css-1lbhvlm .MuiCardHeader-title {
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.25rem;
}

.css-1lbhvlm .MuiCardHeader-title {
    letter-spacing: 0.15px;
}

.css-12ymoos {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.334;
    letter-spacing: 0px;
    color: rgba(76, 78, 100, 0.87);
    display: block;
}


@media (min-width: 600px) {
    .css-12ymoos {
        font-size: 1.3118rem;
    }
}

@media (min-width: 900px) {
    .css-12ymoos {
        font-size: 1.4993rem;
    }
}

@media (min-width: 1200px) {
    .css-12ymoos {
        font-size: 1.4993rem;
    }
}

.css-1lbhvlm + .MuiCardContent-root, .css-1lbhvlm + .MuiCollapse-root .MuiCardContent-root {
    padding-top: 0px;
}

.css-12evlce:last-child {
    padding-bottom: 24px;
}

.css-12evlce:last-of-type {
    padding-bottom: 1.25rem;
}

.css-12evlce {
    padding: 1.25rem;
}



.css-13nd69s {
    background-color: rgb(255, 255, 255);
    color: rgba(76, 78, 100, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    background-image: none;
    overflow: hidden;
    box-shadow: rgba(76, 78, 100, 0.22) 0px 2px 10px 0px;
}

.css-h3o6is {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}


@media (min-width: 600px) {
    .css-h3o6is {
        flex-basis: 33.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 33.3333%;
    }
}

@media (min-width: 900px) {
    .css-h3o6is {
        flex-basis: 33.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 33.3333%;
    }
}

@media (min-width: 1200px) {
    .css-h3o6is {
        flex-basis: 33.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 33.3333%;
    }
}

@media (min-width: 1536px) {
    .css-h3o6is {
        flex-basis: 33.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 33.3333%;
    }
}


.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.css-19x525l {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 8px;
}

.css-2aacz8 {
    appearance: none;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}


.css-2aacz8.css-2aacz8.css-2aacz8 {
    padding-right: 32px;
}

.css-2aacz8.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.css-2aacz8.MuiSelect-select {
    min-width: 6rem !important;
}

.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

.css-dv6cwf {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(76, 78, 100, 0.54);
}

.css-1ftyaf0 {
    float: unset;
    overflow: hidden;
    display: block;
    width: auto;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 0.01px;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    white-space: nowrap;
}

.css-1ftyaf0 > span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}

.css-1ctkf99 {
    padding: 1.25rem 1.25rem 0.75rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-j5yqh7 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px 1rem 0.5rem 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: rgb(109, 120, 141);
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(109, 120, 141, 0.5);
    font-weight: 500;
    border-radius: 8px;
    line-height: 1.572;
    padding: 0.4375rem 1.3125rem;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9 > :nth-of-type(1) {
    font-size: 20px;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-xxdqwu {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}

.css-olzsa8 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px 1.5rem 0.5rem 0px;
    border: 0px;
    vertical-align: top;
}

.css-8wv062 {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
}

.css-1658vn9 {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 8.5px 14px;
}
.css-8wv062 .MuiOutlinedInput-notchedOutline {
    border-color: rgba(76, 78, 100, 0.22);
}

.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}

.css-19x525l .MuiOutlinedInput-notchedOutline {
    border-color: rgba(76, 78, 100, 0.22);
}


.css-pp3aye {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 0.5rem;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: rgb(255, 255, 255);
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(102, 108, 255);
    font-weight: 500;
    border-radius: 8px;
    line-height: 1.715;
    box-shadow: rgba(76, 78, 100, 0.42) 0px 4px 8px -4px;
    padding: 0.4375rem 1.375rem;
}

.css-hdw1oc {
    float: unset;
    overflow: hidden;
    padding: 0px;
    line-height: 11px;
    transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.css-rx2f15.MuiDataGrid-autoHeight {
    height: auto;
}

.css-rx2f15 {
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.429;
    letter-spacing: 0.15px;
    outline: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0px;
    color: rgba(76, 78, 100, 0.87);
}

.css-opb0c2 {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.css-rx2f15 .MuiDataGrid-columnHeaders {
    border-radius: 0px;
}



.css-1atk746 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(245, 245, 247);
    max-height: 54px !important;
    min-height: 54px !important;
    line-height: 24px !important;
}

.css-rr607c {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeaderCheckbox {
    max-width: 58px !important;
    min-width: 58px !important;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    height: 54px;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeaderCheckbox, .css-rx2f15 .MuiDataGrid-cellCheckbox {
    padding: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeader, .css-rx2f15 .MuiDataGrid-cell {
    -webkit-tap-highlight-color: transparent;
    padding: 0px 10px;
    box-sizing: border-box;
}

.css-rx2f15 .MuiDataGrid-columnHeaderDraggableContainer {
    display: flex;
    width: 100%;
}

.css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1qcepnk {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: rgb(102, 108, 255);
    background-color: rgba(102, 108, 255, 0.12);
    margin-right: 0.75rem;
    width: 34px;
    height: 34px;
    font-size: 1rem;
}

.css-rx2f15 .MuiDataGrid-columnHeader--alignCenter .MuiDataGrid-columnHeaderTitleContainer {
    -webkit-box-pack: center;
    justify-content: center;
}

.css-rx2f15 .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
    flex: 1 1 0%;
    white-space: nowrap;
    overflow: hidden;
}
.css-rx2f15 .MuiDataGrid-columnHeaderTitleContainer {
    padding: 0px;
}

.css-rx2f15 .MuiDataGrid-columnHeaderTitleContainerContent {
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1m9pwf3 {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-rx2f15 .MuiDataGrid-columnSeparator {
    color: rgba(76, 78, 100, 0.12);
}


.css-rx2f15 .MuiDataGrid-columnSeparator--sideRight {
    right: -12px;
}

.css-rx2f15 .MuiDataGrid-columnSeparator {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(233, 233, 236);
}

.css-rx2f15 .MuiDataGrid-iconSeparator {
    color: inherit;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-rx2f15 .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeaderCheckbox) {
    padding: 1rem;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    height: 54px;
}

.css-rx2f15 .MuiDataGrid-columnHeader--sortable {
    cursor: pointer;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeader, .css-rx2f15 .MuiDataGrid-cell {
    -webkit-tap-highlight-color: transparent;
    padding: 0px 10px;
    box-sizing: border-box;
}

.css-b1cdsq {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.17px;
    text-transform: uppercase;
}

.css-cp5hn7 {
    display: flex;
    visibility: hidden;
    width: 0px;
}
.css-l9o7ez {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(76, 78, 100, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 1.125rem;
}

.css-rx2f15 .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted) .MuiDataGrid-sortIcon {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-rx2f15 .MuiDataGrid-sortIcon, .css-rx2f15 .MuiDataGrid-filterIcon {
    font-size: inherit;
}

.css-1k33q06 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
}

.css-rx2f15 .MuiDataGrid-menuIcon {
    width: 0px;
    visibility: hidden;
    font-size: 20px;
    margin-right: -10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted) .MuiDataGrid-sortIcon {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-rx2f15 .MuiDataGrid-sortIcon, .css-rx2f15 .MuiDataGrid-filterIcon {
    font-size: inherit;
}

.css-rx2f15 .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeaderCheckbox) {
    padding: 1rem;
}


.css-rx2f15 .MuiDataGrid-columnHeader {
    height: 54px;
}

.css-rx2f15 .MuiDataGrid-columnHeader--sortable {
    cursor: pointer;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted) .MuiDataGrid-sortIcon {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-rx2f15 .MuiDataGrid-sortIcon, .css-rx2f15 .MuiDataGrid-filterIcon {
    font-size: inherit;
}

.css-11c2yb8 {
    overflow: auto;
    position: relative;
    margin-top: 54px !important;
}

.css-1bmj290 {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.css-1bmj290 .MuiDataGrid-row {
    max-height: 50px !important;
    min-height: 50px !important;
}

.css-rx2f15 .MuiDataGrid-row {
    display: flex;
    width: fit-content;
    break-inside: avoid;
}

.css-rx2f15 .MuiDataGrid-cellCheckbox {
    max-width: 58px !important;
    min-width: 58px !important;
}

.css-rx2f15 .MuiDataGrid-cell {
    border-color: rgba(76, 78, 100, 0.12);
    max-height: 50px !important;
    min-height: 50px !important;
    line-height: 20px !important;
}

.css-rx2f15 .MuiDataGrid-cell--textCenter {
    -webkit-box-pack: center;
    justify-content: center;
}

.css-rx2f15 .MuiDataGrid-cell {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(233, 233, 236);
}

.css-rx2f15 .MuiDataGrid-columnHeaderCheckbox, .css-rx2f15 .MuiDataGrid-cellCheckbox {
    padding: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeader, .css-rx2f15 .MuiDataGrid-cell {
    -webkit-tap-highlight-color: transparent;
    padding: 0px 10px;
    box-sizing: border-box;
}

.css-1l36ixv {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: rgba(76, 78, 100, 0.68);
}

.css-rx2f15 .MuiDataGrid-cell:not(.MuiDataGrid-cellCheckbox) {
    padding: 1rem;
}

.css-rx2f15 .MuiDataGrid-cell {
    border-color: rgba(76, 78, 100, 0.12);
    max-height: 50px !important;
    min-height: 50px !important;
    line-height: 20px !important;
}

.css-rx2f15 .MuiDataGrid-cell--textLeft {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-rx2f15 .MuiDataGrid-cell {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(233, 233, 236);
}

.css-p38jk0 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.css-lv9ruy {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    letter-spacing: 0.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(76, 78, 100, 0.87);
    text-decoration: none;
}

.css-11pajau {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: rgba(76, 78, 100, 0.68);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.css-k9mrw6 {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.429;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.68);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-y5bayh {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(38, 198, 249);
}

.css-17mo4nj {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(76, 78, 100, 0.68);
    text-transform: capitalize;
}

.css-mlcpss {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}

.css-z8z32i {
    max-width: 100%;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    color: rgb(109, 120, 141);
    background-color: rgba(109, 120, 141, 0.12);
    text-transform: capitalize;
}

.css-z8z32i .MuiChip-label {
    line-height: 18px;
}

.css-tavflp {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
}


.css-1by2g3n {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    margin-right: 0.75rem;
    width: 34px;
    height: 34px;
}

.css-6qrrnf {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(253, 181, 40);
}

.css-155ckn {
    max-width: 100%;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    color: rgb(253, 181, 40);
    background-color: rgba(253, 181, 40, 0.12);
    text-transform: capitalize;
}

.css-1nqj1gg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(114, 225, 40);
}

.css-2kifbd {
    max-width: 100%;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    color: rgb(114, 225, 40);
    background-color: rgba(114, 225, 40, 0.12);
    text-transform: capitalize;
}

.css-15j76c0 {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width: 600px) {
    .css-15j76c0 {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .css-15j76c0 {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .css-15j76c0 {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 1536px) {
    .css-15j76c0 {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


.Mui-resizeTriggers, .Mui-resizeTriggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.css-jez0fe {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgba(76, 78, 100, 0.12);
    min-height: 50px !important;
}
.css-u1jk8u:last-child {
    padding: 0px;
}
.css-u1jk8u {
    overflow: auto;
    color: rgba(76, 78, 100, 0.87);
    font-size: 0.875rem;
}

@media (min-width: 600px) {
    .css-tkgupb {
    min-height: 52px;
    padding-right: 2px;
}
}

@media (min-width: 0px) and (orientation: landscape) {
    .css-tkgupb {
    min-height: 52px;
}
}

.Mui-resizeTriggers > div {
    background: #eee;
    overflow: auto;
}

.Mui-resizeTriggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

@media (min-width: 600px) {
    .css-tkgupb {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
}
.css-tkgupb {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0.5rem;
    min-height: 52px;
    padding-right: 2px;
}

.css-1mrwq1p {
    flex: 1 1 100%;
}

@media (min-width: 600px) {
    .css-u1jk8u .MuiTablePagination-selectLabel {
    display: block;
}
}

.css-u1jk8u .MuiTablePagination-selectLabel {
    display: none;
}

.css-1rnchco {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.429;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.68);
    flex-shrink: 0;
}

.css-41e7tq {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: inherit;
    font-size: inherit;
    flex-shrink: 0;
    margin-right: 32px;
    margin-left: 8px;
}

.css-a1m1w.MuiSelect-select.MuiTablePagination-select {
    min-width: 1.5rem !important;
}

.css-a1m1w.css-a1m1w.css-a1m1w {
    padding-right: 24px;
    min-width: 16px;
}

.css-a1m1w.MuiSelect-select {
    min-width: 6rem !important;
}

.css-a1m1w.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.css-41e7tq .MuiTablePagination-select {
    padding-left: 8px;
    padding-right: 24px;
    text-align: right;
    text-align-last: right;
}

.css-jez0fe .MuiTablePagination-select {
    color: rgba(76, 78, 100, 0.87);
}

.css-a1m1w {
    appearance: none;
    user-select: none;
    border-radius: 0px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
}

.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}

.css-tbgxpt {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 0px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(76, 78, 100, 0.54);
}

.css-196rrgv {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.429;
    letter-spacing: 0.15px;
    flex-shrink: 0;
    color: rgba(76, 78, 100, 0.87);
}

.css-tkgupb .MuiTablePagination-actions {
    flex-shrink: 0;
    margin-left: 20px;
}

.css-u1jk8u .MuiIconButton-root.Mui-disabled {
    color: rgba(76, 78, 100, 0.54);
}

.css-bb1fx0.Mui-disabled {
    background-color: transparent;
    color: rgba(76, 78, 100, 0.26);
}

.css-bb1fx0.Mui-disabled {
    pointer-events: none;
    cursor: default;
}

.css-bb1fx0 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-bb1fx0 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-1t0alks {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
    color: rgba(76, 78, 100, 0.68);
}