<html lang="en" dir="ltr" data-lt-installed="true">
<head>
    {% block head %}
    <meta charSet="UTF-8">
    <title>{% block title %}{% endblock %} Sinbiot</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    {% endblock head %}
</head>
<body>
<div id="__next">
    <div class="layout-wrapper MuiBox-root css-33gw4">
        {% block body %}
        {% block header %}
        {% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% endblock body %}
    </div>
</div>
</body>
</html>
{% block javascript %}
{% endblock %}